 .intro{margin-bottom:0; }
.bottom-box{margin-top:45px;}
 .topsocial{position:absolute;width:240px;height:40px;top:72px;right:26px;z-index:1001}

.twi{margin:0 20px 0 0;display:block;float:right}
.rss{margin:0 20px 0 0;display:block;float:right}
.face{margin:0 20px 0 0;display:block;float:right}
.vk{margin:0 20px 0 0;display:block;float:right}
.gp{margin:0 20px 0 0;display:block;float:right}

